.hero-div {
  background-color: #7550FF;
}

.hero-title {
  color: white;
}

.hero-paragraph {
  color: #B59EFE;
  font-size: 0.8em;
}

.jumbotron button:first-of-type {
  background-color: #1ACB98;
  color: white;
  font-size: 0.6em;
}

.jumbotron-button-2 {
  background-color: white;
  font-size: 0.6em;
  font-weight: bold;
}

.hero-img-div {
  height: 3rem;
  width: 3rem;
  background-color: #FFEDDB;
  border-radius: 50%;
  margin-right: 1rem;
}

.hero-text-div p {
  font-size: 0.8rem;
  margin: 0;
  color: #7B95AD;
}

.hero-text-div p:first-of-type {
  font-weight: bold;
  color: black;
}

.main-div {
  background-color: #F5F4F9;
}

.card-profile-img {
  object-fit: cover;
}

.card-prof-text {
  font-size: 0.8rem;
}

.save-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #7B95AD;
  transition: background-color 0.7s;
}

.save-button:hover {
  background-color: #7B95AD;
  cursor: pointer;
}

.card {
  transition: transform 1s, box-shadow 1s;
}

.card:hover {
  transform: scale(1.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.main-div,
.container,
.carousel,
.carousel-inner,
.carousel-item {
  overflow: visible;
}
